/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,700,900|Oswald:400,700");
$base-font: "Open Sans", "Verdana", "sans-serif";
$title-font-h1: "Oswald", "Impact", "sans-serif";
$subtitle-font: "Open Sans", "Verdana", "sans-serif";

@import "normalize";
@import "compass/css3/transition";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 14px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Rhythm and Soul branding

$main-blue: #202123;
$action-blue: #10627F;
$hover-blue: #1FC4FF;
$spotify: #1ed760;


// Other colors
$dark-grey:#656565;
$standard-grey:#CDCDCD;
$light-grey: #DDDDDD;
$very-light-grey:#FAFAFA;

// CUSTOMIZED BOOTSTRAP COLORS

$red: #E82752;
$green: #24CC7D;
$yellow: #FFB61D;
$orange: #FFB61D;
$gray: #000000;


.sml {
  color: #a5e7ff;
}

.med {
  color: #1fc4ff;
}

.hgh {
  color: #20b304;
}

.ult {
  color: #ffa21f;
}

.gia {
 color: #ff3867;
}

@mixin bg-gradient(){
  background-image: -ms-linear-gradient(left top, #79dcff 0%, #1fc4ff 100%);
  background-image: -moz-linear-gradient(bottom right, #79dcff 0%, #1fc4ff 100%);
  background-image: -o-linear-gradient(bottom right, #79dcff 0%, #1fc4ff 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #79dcff), color-stop(1, #1fc4ff));
  background-image: -webkit-linear-gradient(bottom, #79dcff 0%, #1fc4ff 100%);
  background-image: linear-gradient(to bottom right, #79dcff 0%, #1fc4ff 100%);
}

@mixin bg-gradient-hover(){
  background-image: -ms-linear-gradient(left top, #79dcff 0%, #3183e8 100%);
  background-image: -moz-linear-gradient(bottom right, #79dcff 0%, #3183e8 100%);
  background-image: -o-linear-gradient(bottom right, #79dcff 0%, #3183e8 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #79dcff), color-stop(1, #3183e8));
  background-image: -webkit-linear-gradient(bottom, #79dcff 0%, #3183e8 100%);
  background-image: linear-gradient(to bottom right, #79dcff 0%, #3183e8 100%);
}

@mixin bg-gradient-scan(){
  background-image: -ms-linear-gradient(left top, #06ff7e 0%, #37cc7f 100%);
  background-image: -moz-linear-gradient(bottom right, #06ff7e 0%, #37cc7f 100%);
  background-image: -o-linear-gradient(bottom right, #06ff7e 0%, #37cc7f 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #06ff7e), color-stop(1, #37cc7f));
  background-image: -webkit-linear-gradient(bottom, #06ff7e 0%, #37cc7f 100%);
  background-image: linear-gradient(to bottom right, #06ff7e 0%, #37cc7f 100%);
}

@mixin bg-gradient-scan-hover(){
  background-image: -ms-linear-gradient(left top, #06ff7e 0%, #05bf5f 100%);
  background-image: -moz-linear-gradient(bottom right, #06ff7e 0%, #05bf5f 100%);
  background-image: -o-linear-gradient(bottom right, #06ff7e 0%, #05bf5f 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #06ff7e), color-stop(1, #05bf5f));
  background-image: -webkit-linear-gradient(bottom, #06ff7e 0%, #05bf5f 100%);
  background-image: linear-gradient(to bottom right, #06ff7e 0%, #05bf5f 100%);
}
