/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700|Lato:400,700,900|Oswald:400,700");
$base-font: "Fira Sans", "Helvetica", "sans-serif";
$title-font-h1: "Oswald", "Impact", "sans-serif";
$subtitle-font: "Lato", "Verdana", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 14px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Rhythm and Soul branding

$main-blue: #083140;
$action-blue: #10627F;
$hover-blue: #1FC4FF;


// Other colors
$dark-grey:#656565;
$standard-grey:#CDCDCD;
$light-grey: #DDDDDD;
$very-light-grey:#FAFAFA;

// CUSTOMIZED BOOTSTRAP COLORS

$red: #E82752;
$green: #24CC7D;
$yellow: #FFB61D;
$orange: #FFB61D;
$gray: #000000;
