
// ARTISTS PROFILES

.artist-profile-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  border-bottom: 5px solid $main-blue;
  position: relative;
  height: 300px;
  .back-button-artists{
    position: absolute;
    top: 10px;
    right: 10px;
    }
  .artist-description {
    align-self: flex-end;
    padding: 0 0 2em 0;
    h2 {
      font-weight: 800;
      font-size: 2.5em;
    }
    p {
      font-weight: 500;
      color: $dark-grey;
    }
  }
  .artist-profile-image {
    flex: 0 0 20%;
    align-self: flex-end;
    img {
      width: 200px;
    }
  }
  .artist-description {
    flex: 0 0 80%;
    .artist-genre-list {
      margin: 2rem 0 0 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      p {
        font-size: .7em;
        border: 1px solid #b7b7b7;
        border-radius: 1.5em;
        padding: .7em .9em;
        margin: 0 .6rem .6rem 0;
        color: #a2a2a2;
      }
    }
  }
}

.artist-profile-events {
  width: 100%;
  padding: 2.5em;
  .upcoming {
    padding: .5em;
    color: $hover-blue;
    font-weight: 800;
    border-left: 3px solid $hover-blue;
    letter-spacing: .15em;
  }
  .wrapper-artists-events {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: .5em;
    border-left: 3px solid transparent;
      .artist-date {
        flex: 30%;
        font-size: .9em;
        text-transform: uppercase;
        font-weight: 800;
      }
      .artist-address {
        flex: 50%;
      }
      .artist-ticket {
        flex: 20%;
        text-align: right;
      }
      &:hover {
        border-left: 3px solid $main-blue;
        outline: 0px solid transparent;
      }
    }
}

