#events-search {
  overflow: scroll;
  height: calc(100vh - 70px);
  width:50%
}
#events-list {

}
#events-filters {
  height:200px;
  background-color: $very-light-grey;
  .container{
    height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $light-grey;
    width:100%;
  }
}
#events-wrapper {
  display: flex;
}
#event-map {
  width: 50%;
  height: calc(100vh - 70px);
}

.wrapper-event-description {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8em 0;
  text-align: left;
  margin: 2rem;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  .event-desc-name {
    flex: 0 0 10%;
    h4 {
      font-weight: 800;
    }
  }
  .event-desc-venue {
    flex: 0 0 10%;
  }
  .event-desc-address {
    flex: 0 0 30%;
    padding: 1em;
  }
  .event-desc-date {
    flex: 0 0 20%;
    padding: 1em;
  }
  .event-desc-links {
    flex: 0 0 20%;
    .event-desc-ticket {
      padding: .5em;
    }
    .event-desc-bookmark {
      padding: .5em;
      position: absolute;
      top: 10px;
      right: 10px;
      .fa-star {
        font-size: 1.2em;
        color: #ffe349;
      }
    }
  }
}

