#events-search {
  overflow: scroll;
  height: calc(100vh - 70px);
  width:50%
}
#events-list {

}
#events-filters {
  height:200px;
  background-color: $very-light-grey;
  .container{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $light-grey;
    width:100%;
  }
}
#events-wrapper {
  display: flex;
  background: $very-light-grey;
}
#event-map {
  width: 50%;
  height: calc(100vh - 70px);
}
