.user-profile-image {
  text-align: left;
  .profile-image {
    border-radius: 50%;
  }
}

.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 180px;
  width: 180px;
}

.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  opacity: 0;
}

.main-wrapper-profile {
  padding: 3em 0 0 3em;
  margin: 0 auto;
  width: 960px;
  height: calc(100vh - 70px);
}

.left-side {
  border-right: 1px solid #eaeaea;
  width: 30%;
  float: left;
  padding: 2em;
  text-align: left;
  h3 {
    font-weight: 800;
    text-align: left;
    margin-top: 2rem;
  }
}

.right-side {
  width: 70%;
  float: right;
  padding: 1em 2.5em;
  height: 100%;
  overflow:scroll;
  overflow-y: hidden;
}

hr.profile {
  border-top: 1px solid #eaeaea;

}

.subnavbar {
  a {
    text-decoration: none;
    color: $main-blue;
    cursor: pointer;
    p {
      text-decoration: none;
      &:hover {
      text-decoration: none;
      color: $hover-blue;
      }
    }
  }
}

.wrapper-scan {
  margin: 3rem 0;
}

.active, .subnavbar .active {
  color: $hover-blue;
  p {
    color: $hover-blue;
  }
}

.event-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 2rem 0;
  padding: .5em 0;
  border-bottom: 1px solid #eaeaea;
  .event-image {
    flex: 0 0 15%;
    img {
      width: 80px;
      border-radius: .15em;
      object-fit: cover;
      height: 80px;
    }
  }
  .event-name {
    flex: 0 0 50%;
    padding-left: .9em;
    h4 {
      font-weight: 800;
    }
    p {
      font-size: .9em;
      margin: 0;
      padding: 0;
    }
  }
  .event-name-past {
    flex: 0 0 75%;
    padding-left: .9em;
    h4 {
      font-weight: 800;
    }
    p {
      font-size: .9em;
      margin: 0;
      padding: 0;
    }
  }
  .event-date {
    flex: 0 0 10%;
    text-align: center;
  }
  .event-buy-ticket {
    flex: 0 0 20%;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    a {
      color: $hover-blue;
      border: 2px solid $hover-blue;
      border-radius: .4em;
      padding: .7em 1em;
      &:hover {
        background-color: $hover-blue;
        color: #fff;
        border: 2px solid $hover-blue;
        border-radius: .4em;
        padding: .7em 1em;
      }
    }
  }
  .event-bookmark-controller {
    flex: 0 0 5%;
    text-align: right;
    a {
      text-transform: uppercase;
      font-size: 1.2em;
      color: $standard-grey;
      font-weight: 500;
      &:hover {
        color: $hover-blue;
      }
    }
  }
}

.wrapper-artists-genre-profile {
  width: 100%;
  .card-artist-genre {
    height: 220px;
    float: left;
    margin: .5rem;
    border-radius: .3em;
    width: 30%;
    border: 1px solid #eaeaea;
    h4 {
      font-weight: 800;
      font-size: 1.2em;
    }
    p {
      font-size: .8em;
      font-weight: 500;
      color: $standard-grey;
    }
    .artist-image {
      img {
        width: 100%;
        border-radius: .15em;
        object-fit: cover;
        height: 120px;
      }
    }
    .artist-description {
      padding: .7em;
    }
  }
}

.hidden {
  display: none;
}
