<h2>Artists</h2>
<div class="wrapper-artists-genre-profile">
    <% current_user.artists.each do |artist| %>
      <%= link_to artist_path(artist) do %>
        <div class="card-artist-genre">
          <div class="artist-image">
          <% if artist.images %>
            <%= image_tag artist.images %>
          <% else %>
            <%= image_tag('compact-disc.png') %>
          <% end %>
          </div>
          <div class="artist-description">
            <h4><%= artist.name.split.map(&:capitalize).join(' ') %></h4>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
