<div class="event-list-header">
    <div class="event-desc-image">
      <h5>ARTIST</h5>
    </div>
    <div class="event-desc-name">
    </div>
    <div class="event-desc-address">
      <h5>LOCATION</h5>
    </div>
    <div class="event-desc-date">
      <h5>DATE</h5>
    </div>
    <div class="event-desc-date">
      <h5>TICKETS</h5>
    </div>
</div>
<% unless user_signed_in? %>
  <div class="login-now">
    <div class="log-now-banner">
      <%= link_to 'Sign in with Spotify Now', user_spotify_omniauth_authorize_path, class: 'alert-login' %>
    </div>
  </div>
<% end %>
