<div class="event-list-header">
    <div class="event-desc-name">
      <h5>ARTIST</h5>
    </div>
    <div class="event-desc-venue">
      <h5>VENUE</h5>
    </div>
    <div class="event-desc-address">
      <h5>LOCATION</h5>
    </div>
    <div class="event-desc-date">
      <h5>DATE</h5>
    </div>
    <div class="event-desc-date">
      <h5>TICKETS</h5>
    </div>
</div>
