<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
  <ul>
    <% @events.each do |event| %>
      <li> Nom de l'event : <%= event.name  %> </li>
      <li> Lieu : <%= event.venue.name %> </li>
<% end %>
</ul>
