<div class="banner" style="background-image: url('<%= image_path "banner-home.jpg" %>');" >
  <div class="wrapper-text-buttons">
    <div class="banner-content text-center">
      <h2>We are currently working on the beta version, improvments are on the way, stay tuned.</h2>
      <hr>
      <h1>Find music events that match your playlists</h1>
      <% unless user_signed_in? %>
        <p>Login with Spotify, we take care of the rest</p>
      <% end %>
    </div>
    <div class="wrapper-logged-in">
      <div class="button-one">
        <%= link_to t(".top_call_to_action", default: "Discover Music Events"), events_path, class: 'discover-music'%>
      </div>
      <div class="button-two">
        <%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, class:'login-spotify' unless user_signed_in? %>
      </div>
    </div>
  </div>
</div>
