<div class="banner" style="background-image: url('<%= image_path "banner-home.jpg" %>');" >
  <div class="banner-content text-center">
    <h1>Find music events that match your playlists</h1>
    <% unless user_signed_in? %>
      <p>Login with Spotify, we take care of the rest</p>
    <% end %>
    <br><br>
    <%= link_to 'Find a music event', events_path, class:'login-spotify' if user_signed_in? %>
    <%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, class:'login-spotify' unless user_signed_in? %>
  </div>
</div>
