// Dropdown

.dropbtn {
  background-color: #fff;
  color: white;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $main-blue;
  min-width: 160px;
  z-index: 1;
  right: 0;
  font-size: .9em;
  border-radius: .2em;
  top: 4.3em;
  &:after {
    position: absolute;
    left: 89%;
    margin-left: -15px;
    top: -6px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $main-blue;
    border-radius: 0.5em;
  }
  a {
    color: #fff;
    padding: .8em 1em;
    text-decoration: none;
    display: block;
    transition: color .3s ease-in-out;
    &:hover {
      color: lighten($main-blue, 60%);
    }
  }
}
.show {display:block;}

// .dropdown:hover .dropdown-content {
//   display: block;
// }

.dropdown:hover .dropbtn {
  background-color: #fff;
}


/* Main class */
.navbar-wagon {
  background: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 55px;
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
    color: lighten($main-blue, 50%);
    padding-right: 1.2em;
    cursor: pointer;
    &:hover {
      color: $main-blue;
    }
  }
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: $main-blue;
  font-size: .85em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $hover-blue;
  }
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: $main-blue;
  color: white;
  font-size: 14px;
  border: 2px solid $main-blue;
}
.navbar-wagon-button:hover {
  color: white;
  background: #1FC4FF;
  border-color: #1FC4FF;
}
