.event-element {
  h3{
    font-size: 15px;
    margin: 0;
    padding: 10px;
    font-weight: 600;
  }
  border: solid 1px $light-grey;
  margin: 10px 20px;
  color: $dark-grey;
  background-color: white;
  height: 20%;
  transition-duration: 0.5s;
  &:hover{
    background-color: $light-grey;
  }
  a-bookmarked {
    color: blue;
  }
}
