.iw-container{
  position:relative;
  padding: 0.5em;
  h3 {
    font-size: .9em;
    font-weight: 800;
    padding: .5em 0;
    margin: 0;
  }
}

.iw-event {
  transition-duration: 0.3s;
  border-bottom: 1px solid #eaeaea;
  padding: .7em 0;
  display: flex;
  align-items: center;
  &:hover{
    border-bottom: 1px solid $main-blue;
  }
}

.iw-title {
 color:$dark-grey;
 font-size: 15px;
 font-weight: 600;
 text-align: center;
 padding: 5px 0;

}

.iw-bookmark {
  padding-left: 10px;
}
